<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="static/index.css">
	<title>Library Management System</title>
</head>
<body>
	<header>
		<h1>Welcome to the Library</h1>
	</header>
	<nav>
		<ul>
			<li><a href="/add_book">Add a book/PFE report</a></li>
			<li><a href="/library">View the library</a></li>
			<li><a href="/search">Search the library</a></li>
		</ul>
	</nav>
	<main>
		<section>
			<h2>Library Management System</h2>
			<p>This is a web application designed to help you manage your library. You can add, view, and search for books and PFE reports in your library.</p>
		</section>
		<section>
			<h2>Add a book/PFE report</h2>
			<p>Use this page to add a new book or PFE report to your library.</p>
			<a href="/add_book" class="button">Add a book/PFE report</a>
		</section>
		<section>
			<h2>View the library</h2>
			<p>Use this page to view the books and PFE reports in your library.</p>
			<a href="/library" class="button">View the library</a>
		</section>
		<section>
			<h2>Search the library</h2>
			<p>Use this page to search for a book or PFE report in your library.</p>
			<a href="/search" class="button">Search the library</a>
		</section>
	</main>
	<footer>
		<p>&copy; 2023 Library Management System. All rights reserved.</p>
	</footer>
</body>
</html>
